<div class="container">
    
    <div class="card col-12 col-md-5 my-5 p-2">

        <h3 class="card-title text-center py-2">Admin Login</h3>

        <form class="my-3">
            
            <div class="form-floating my-2">
                <input  id="username" 
                        type="text" placeholder="Username" 
                        class="form-control" />
                <label for="username" class="form-label">Username</label>
            </div>
            <div class="form-floating my-2">
                <input  id="password" 
                        type="password" placeholder="Password" 
                        class="form-control" />
                <label for="password" class="form-label">Password</label>
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>

    </div>

</div>